.header-container {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 10px;
    padding: 0 10px;
    border-bottom: 1px solid #e1e1e1 ;
    height: 3rem;
    letter-spacing: 0.1px;
}

.header-title {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    padding: 0 1rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.header-list {
    width: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    justify-self: center;
}

.header-link {
    padding: 0 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.header-div-logo {
    display: flex;
    align-items: center;
}

.header-sun {
    width: 1.5rem;
    height: 1.5rem;
}