.skills-container {
    height: 647px; 
    width: 100%;
}

.skills-title {
    text-align: center;
    font-size: 4.3rem;
    font-weight: 500;
 }

.skills-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 7.6rem;
}

.skills-list {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 8rem;
    margin-top: 4rem;
    height: 4rem;
    width: 17rem;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
}

.skills-name {
    margin-left: 1rem;
    white-space: nowrap;
}

.skills-img {
    width: 10rem;
    height: 9rem;
    margin-left: 7.5rem;
    object-fit: cover;
    overflow: hidden;
    opacity: 50%;
}

.skills-subtitle {
    color: grey;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid grey;
    border-style: dotted;
}

.skills-list:hover {
    border: 3px solid black;
}